Container {
    width: '100%';
    border: '1px solid white';
    border-radius: '8px';
    padding: '16px';
    text-align: 'center';
}

List {
    list-style: 'none';
    padding: 0;
}

NotAvailable {
    font-size: '14px';
    color: 'red';
}

Available {
    font-size: '14px';
    color: 'green';
}